body {
    font-family: times new roman;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 15px;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.card.flipped {
    background-color: #fff;
}

.card.matched {
    background-color: #98fb98;
    cursor: default;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: times new roman;
}